/*Usama Style for new design*/
.text-right{
    text-align: right;
}
.modal-header .positionrelative{
    position: relative;
}

.marginleftthirty{
    margin-left: 30px;
}
.marginleftthirty img{
    position: absolute;
    left: 16px;
    top: 10px;
}
.newmodaltittle{
    font-size: 20px !important;
}
.newmodalsubtittle p{
    margin-top: 0px !important;
    margin-bottom: 5px;
}
.rightside .closeimage{
    cursor: pointer;
}
.rightside{
    display: flex;
    margin-top: -23px;
    margin-right: -26px;
}
.rightside span{
    padding: 15px;
    cursor: pointer;
}
.displayflex{
    display: flex;
}
.firstdropdownofcomments{
    margin-right: 10px;
    margin-top: 7px;
    color: #b2b2b2;
    font-size: 14px;
    cursor: pointer;
}
.writecomment{
    display: none;
}
.newmodalcontent{
    border-radius: 8px !important;
}
.statuschangebutton{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    height: 31px;
    min-width: 75px;
    padding-top: 6px !important;
    background-color: #924AEF !important;
    color: white;
    font-size: 13px !important;
    padding-right: 5px !important;
}
.statuschangebutton:hover{
    color: white !important;
}
.statuschangebuttonarrow{
    height: 31px;
    padding-top: 5px !important;
    background-color: #924aef !important;
}
.members-list{
    display: flex;
}
.member-list-image {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.tickimage{
    width: 12px !important;
    height: 12px !important;
}
.member-list-image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
}
.displayflex{
    display: flex;
}
.block-header{
    font-size: 14px;
    font-weight: 500;
}
.block-header {
    padding-bottom: 10px;
    height: 35px;
}

.block-header h4 {
    color: var(--Black-Color, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0px;
}
.newmodalcontent .form-control{
    height: 48px !important;
}
.newmodalcontent .form-group{
/*    z-index: 1000;*/
}
.newmodalcontent .form-group>label {
    bottom: 0;
    left: 15px;
    position: unset;
    background-color: white;
    padding: 0;
    font-size: 12px;
    transition: 0.2s;
    pointer-events: none;
    color: #A7A7A7 !important;
    margin-bottom: 5px;
}
.searchiconforinput{
    position: absolute;
    right: 15px;
    top: 35px;
    cursor: pointer;
}
.membersearchiconforinput{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.positionrelative{
    position: relative;
}
.textareaformcontrol{
    display: block;
    width: 100%;
    height: 250px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 8px;
    border: 1px solid var(--border-color, #EFEFEF);
    background: var(--white, #FFF);
}

.savechangebutton{
    width: 136px;
    height: 41px;
    font-size: 12px !important;
}
.textareaformcontrol .btn-sm {
    font-size: 10px !important;
    min-width: unset !important;
    border-radius: 2px !important;
    padding: 8px !important;
    height: 30px !important;
}
.note-editor .note-toolbar, .note-popover .popover-content{
    padding: 3px !important;
}
.note-editor .note-toolbar>.note-btn-group, .note-popover .popover-content>.note-btn-group{
    margin-top: 0px !important;
}
.note-toolbar{
    border-bottom: unset !important;
}
.note-statusbar{
    display: none;
}
.margintopfourtypixel{
    margin-top: 40px !important;
}
.menuettitle h4{
    font-size: 14px;
    margin-bottom: 15px;
}
.menuettitle ul{
    list-style-type: none;
}
.menuettitle ul li{
    color: #b2b2b2;
    font-size: 14px;
    margin-bottom: 15px;
    cursor: pointer;
}

.menuettitle ul .active{
    color: #000;
    border-right: 2px solid #547aff;
}
#epicinputtoshow{
    position: relative;
}
.searchepic-box{
    display: none;
    height: 264px;
    width: 97%;
    overflow: auto;
    padding: 10px;
    box-shadow: 0 10px 24px rgb(87 106 134 / 20%);
    position: absolute;
    z-index: 111111;
    background-color: white;
    border-radius: 10px;
}
.searchepic-box .epic{
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.searchepic-box .epic:hover{
    background-color: #f6f8ff;
}
.memberprofile:hover{
    background-color: #f6f8ff;
    cursor: pointer;
}
.namecounter{
    background-color: #dedcdf;
    border-radius: 50%;
    text-align: center;
    height: 39px;
    width: 39px;
    padding-top: 20%;
}
.namecountersmallforsimplecard{
    background-color: #dedcdf;
    border-radius: 50%;
    text-align: center;
    height: 31px;
    width: 31px;
    font-size: 15px;
    padding-top: 15%;
    font-weight: 600;
}
.namecountersmall{
    background-color: #dedcdf;
    border-radius: 50%;
    text-align: center;
    height: 30px;
    width: 30px;
    padding-top: 14%;
}
.searchepic-box .epic .epic-detail{
    font-size: 14px;
    color: #b5b5b5;
}


.okrmappersearchdetail{
    display: flex;
}
.searchepic-box .epic .epic-tittle{
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
.raise-flag-button a{
    text-decoration: none;
    color: #787878 !important;
}
.raise-flag-button{
    position: relative;
}
.raiseflag-box{
    display: none;
    width: 319px;
    box-shadow: 0 10px 24px rgb(87 106 134 / 20%);
    position: absolute;
    z-index: 111111;
    background-color: white;
    border-radius: 10px;
    left: 0;
    padding: 15px;
    top: 35px;
}
.raiseflag-box h4{
    font-size: 16px;
    font-weight: 500;
}
.raiseflag-box .memberclose{
    cursor: pointer;
    height: 12px;
    width: 12px;
}
.memberadd-box{
    display: none;
    width: 319px;
    height: 220px;
    box-shadow: 0 10px 24px rgb(87 106 134 / 20%);
    position: absolute;
    z-index: 111111;
    background-color: white;
    border-radius: 10px;
    left: 0;
    padding: 15px;
    top: 35px;
}
.memberadd-box .memberclose{
    cursor: pointer;
    height: 12px;
    width: 12px;
}
.memberprofile{
    margin-bottom: 10px;
}
.memberadd-box h4{
    font-size: 16px;
    font-weight: 500;
}
.memberprofile .memberprofileimage{
    height: 39px;
    width: 39px;
}
.memberprofile .memberprofileimage img{
    width: 100%;
    height: 100%;
}
.membername{
    font-size: 15px;
    font-weight: 500;
}
.memberdetail{
    font-size: 12px;
    color: #b3b3b3;
}
.loaderdisplay{
    text-align: center;
    margin: auto;
}
.loaderdisplay i{
    font-size: 50px;
}
.commenticon{
    cursor: pointer;
}


.activity-feed {
    overflow-x: hidden;
    overflow-y: auto;
    height: 50vh;
    width: 100%;
}
#memberstoshow{
    height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* width */
.activitydetalbox::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.activitydetalbox::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.activitydetalbox::-webkit-scrollbar-thumb {
  background: #c5c9d1;
  border-radius: 10px;
}

/* Handle on hover */
.activitydetalbox::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



/* width */
.member-area::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.member-area::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.member-area::-webkit-scrollbar-thumb {
  background: #c5c9d1;
  border-radius: 10px;
}

/* Handle on hover */
.member-area::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* width */
.searchepic-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.searchepic-box::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.searchepic-box::-webkit-scrollbar-thumb {
  background: #c5c9d1;
  border-radius: 10px;
}

/* Handle on hover */
.searchepic-box::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* width */
#memberstoshow::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#memberstoshow::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#memberstoshow::-webkit-scrollbar-thumb {
  background: #c5c9d1;
  border-radius: 10px;
}

/* Handle on hover */
#memberstoshow::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




.member-area::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#memberstoshow::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#memberstoshow::-webkit-scrollbar-thumb {
  background: #c5c9d1;
  border-radius: 10px;
}

/* Handle on hover */
#memberstoshow::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* width */
.activity-feed::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.activity-feed::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.activity-feed::-webkit-scrollbar-thumb {
  background: #c5c9d1;
  border-radius: 10px;
}

/* Handle on hover */
.activity-feed::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.activity {
  position: relative;
  margin-bottom: 10px;
  padding-left: 40px;
}

.profile-image-container {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    padding: 8px;
    z-index: 900;
    top: 0;
    left: 3%;
    transform: translateX(-50%);
    background-color: #fcedda;
}

.profile-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dotted-line {
  position: absolute;
  left: 3%;
  top: 20px;
  width: 1px;
  height: 100%;
  border-left: 1px dotted #ddd;
  transform: translateX(-50%);
}

.activity-content {
    font-size: 12px;
}

.activity-header {
  font-weight: bold;
}
.activity-header span{
    font-weight: 400;
}
.activity-time {
  font-size: 12px;
  color: black;
}
.nodatafound{
    text-align: center;
    margin-top: 25%;
}
.nodatafound h4{
    font-size: 16px;
    color: #b2b2b2;
}
.attachment-card {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.attachment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.attachment-title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center; /* Align title and icon vertically */
}

.file-icon {
  margin-right: 10px;
}

.attachment-date {
  font-size: 14px;
  color: #555;
  margin: 0; /* Remove the default margin */
}

.attachment-icons {
  display: flex;
  align-items: center;
}

.action-icon {
  font-size: 20px;
  margin-left: 10px;
  color: #555;
  cursor: pointer;
}
.uploadattachment{
    display: none;
}
.dropzonelabel{
    position: relative;
    display: block;
    width: 100%;
    font-size: 80%;
    text-align: center;
    text-transform: uppercase;
    border: 2px dashed #ccc;
    margin: 15px 1px 0px 0px;
    padding: 2rem;
}

.dropzonelabel:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.dropzonelabel:active,
.dropzonelabel:focus {
    border-color: #09f;
}

.dropzoneinput{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: 0;
    border: 1px solid red;
}
.paddingrightzero{
    padding-right: 0px;
}
.memberlistposition{
    position: relative;
}
#members{
    display: flex;
}
.selectepic{
    display: flex;
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: #797979;
    height: 33px;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.selectepic img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.selectepic a{
    margin-top: -6px;
}


.deleteflag{
    cursor: auto;
    position: absolute;
    border-radius: 10px;
    display: none; 
    width: 285px;
    z-index: 1111;
    top: 140;
    left: 80px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 2px 32px 4px rgb(87 106 134 / 20%);
}
.deleteflag img{
    cursor: pointer;
}
.deleteflag h4{
    font-size: 16px;
    font-weight: 500;
    color: #47495b;
}
.deleteflag button{
    height: 36px;
    border-radius: 45px !important;
}

.deleteflag p{
    font-size: 12px !important;

}

.moveflag{
    cursor: auto;
    position: absolute;
    border-radius: 5px;
    display: none; 
    width: 285px;
    z-index: 1111;
    top: 40;
    left: 80px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 32px 4px rgb(87 106 134 / 20%);
}
.moveflag img{
    cursor: pointer;
}
.moveflag h4{
    font-size: 16px;
    font-weight: 500;
    color: #47495b;
}
.moveflag button{
    height: 41px;
    border-radius: 5px !important;
}

.moveflag p{
    font-size: 12px !important;

}
#edit-epic .modal-content{
    padding: 5px !important;
}
.modalheaderforapend{
    padding-top: 20px !important;
    padding-bottom: 20px;
}
.modalfullscreen{
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.dashboard-card{
    padding: 20px;
    border-radius: 12px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    border: transparent !important;
    padding-left: 35px;
}
.dashboard-card-tittle{
    margin-top: 10px;
}
.dashbaord-card-link:hover{
    text-decoration: none;
}
.dashboard-card-tittle h4{
    font-size: 12px;
    color: #999999;
}
.dashboard-card-number{
    margin-top: 10px;
}
.dashboard-card-number h3{
    font-size: 20px;
    color: #121212;
    font-weight: 700;
}
.dashboard-card-tittle-second{
    display: flex;
}
.dashboard-card-tittle-second h4{
    font-size: 16px;
    font-weight: 500;
}
.dashboard-card-second{
    height: 400px;
    padding: 20px;
    border-radius: 12px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    border: transparent !important;
}
.dashboard-card-third{
    height: 375px;
    padding: 20px;
    border-radius: 12px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    border: transparent !important;
}
.dashboard-card-dropdown img{
    cursor: pointer;
}
.dashboard-card-subtittle p{
    color: #787878;
    font-size: 14px;
}
.percentagenumber{
    font-size: 12px;
    font-weight: 600;
}
.percentagetittle{
    color: #787878;
    font-size: 12px;
}
.color-3F51B5{
    background: #3F51B5;
}
.color-0AF30A{
    background: #0AF30A;
}
.color-green{
    background: green;
}
.color-black{
    background: black;
}
.color-red{
    background: red;
}
.color-FFC100{
    background: #FFC100;
}
.performance{
    margin-bottom: 20px;
    margin-top: 10px;
}
.dashboard-object-tittle{
    font-size: 15px;
}
.dashboard-object-tittle-points{
    font-size: 16px;
    font-weight: 600;
}
.progress-container {
  display: flex;
}
.custom-progress-bar {
  flex-grow: 1;
  height: 12px;
  margin-right: 10px;
  border-radius: 5px;
}
.progress-bar-green {
  background-color: #3fe1a7;
}
.progress-bar-blue {
  background-color: #e1db3f;
}
.progress-bar-yellow {
  background-color: #787878;
}
.custom-progress-bar:last-child {
  margin-right: 0;
}
.objectivepoints{
    margin-top: 10px;
    margin-bottom: 10px;
}
.dotforobjectivedashboard {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 5px;
}
.objectivepointtittle{
    font-size: 14px;
    color: #787878;
}
.objectivepointanswer{
    font-size: 14px;
    color: black;
    font-weight: 500;
}
.chartforkeyresult{
    width: 100%;
    height: 100%;
}

@keyframes circleprogressbar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
.circleprogressbar{
    margin-left: 45px;
}
div[role="circleprogressbar"] {
  --size: 9rem;
  --fg: #3fe1a7;
  --bg: #def;
  --pgPercentage: 10;
  animation: circleprogressbar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="circleprogressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}
.targetprice{
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}
.targetprice small{
    font-size: 15px;
    color: #787878;
}

.seereportdashboard{
    width: 100%;
    border-radius: 54px;
    padding: 9px 16px;
    height: 43px;
    flex-shrink: 0;
    border: 1px solid #3661EC;
    background: var(--primary-color, #3661EC);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    min-width: 100px;
    line-height: normal;
    color: white;
    box-shadow: 0px 9px 37px 0px rgba(84, 122, 255, 0.37);
}

.epic-header-buttons {
    height: 31px;
    padding-top: 6px !important;
    background-color: #f3f3f3 !important;
    color: #787878;
    border-radius: 12px;
    font-size: 11px !important;
    border-radius: 100px;
    border: none;
    padding: 15px;
    margin-left: 10px;
}
.epic-header-buttons:hover {
    background-color: #f3f3f3 !important;
    color: #787878;
    text-decoration: none;
}
.moverightside{
    position: absolute;
    right: -80px;
    top: 7px;
    display: flex;
}
.epic-percentage{
    font-size: 11px;
    font-weight: 600;
    line-height: 2;
    color: #3F4254;
}
.epic-header-buttons img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.moverightside img{
    margin-bottom: 10px;
    margin-left: 30px;
}
.color-547AFF{
    background: #547AFF;
}
.storyaddcard{
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    border: none !important;
}
.statusofstory h4{
    font-size: 14px;
    margin-top: 2px;
}
.statusofstory .dropdown{
    margin-left: 10px;
    margin-top: 0px;
}
.child-item{
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 3px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ddd;
}
.child-item-id {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
.child-item-id img{
    margin-top: -3px;
}
.child-item-chekbox-portion{
    width: 25%;
    display: flex;
}
.child-item-tittle{
    width: 40%;
}
.child-item-actions{
    width: 35%;
    display: flex;
    position: relative;
}

.child-item-actions .btn-group
{
    margin-right: 10px;
    width: 60%;
}
.edit-item-image{
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 10px;
}
.delete-item-image{
    width: 15px;
    height: 15px;
    margin-top: 5px;
}
.member-profile{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 10px;
}
.member-profile img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.status-change-button-item{
    border-top-right-radius: 0px !important;
    padding-left: 10px !important;
    border-bottom-right-radius: 0px !important;
    height: 29px;
    min-width: 75px;
    padding-top: 5px !important;
    background-color: #f3f3f3 !important;
    color: black;
    font-size: 12px !important;
    padding-right: 0px !important;
}
.status-change-button-item-arrow {
    height: 29px;
    padding-top: 5px !important;
    background-color: #f3f3f3 !important;
    padding: 0px 2px !important;
}
.child-item .form-checkbox .checkbox-label {
    position: relative;
    display: inline-block;
    width: 21px !important;
    height: 21px !important;
     border: none !important; 
    margin-bottom: 0px;
    background-color: #f3f3f3;
    border-radius: 5px;
    cursor: pointer;
}
.child-item .form-checkbox .checkbox-label::before {
    width: 21px !important;
    height: 21px !important;
    border-radius: 5px !important;
}
.child-item .form-checkbox input[type="checkbox"]:checked+.checkbox-label::before {
    background-color: #547aff;
}

.inprogress-color{
    background-color: #924AEF !important;
}
.editstorycard{
    display: none;
}

.buisness-unit-card{
    padding: 20px;
    border-radius: 12px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    border: transparent !important;
    padding-left: 35px;
}
.todo-button-color{
    background-color: #6c757d !important;
    color: white !important;
}
.inprogress-button-color{
    background-color: #E1DB3F !important;
    color: white !important;
}
.done-button-color{
    background-color: #3fe1a7 !important;
    color: white !important;
}

.buisnessunit{
    padding: 20px;
    border-radius: 12px;
    background: var(--white, #FFF);
/*    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);*/
    border: transparent !important;
}
.buisnessunit .mainheading h4{
    font-size: 17px;
    color: #547aff;
}

.buisnessunit .mainheading .buisnessunitheading{
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
}
.buisnessunit-badge{
    background-color: red;
    padding: 10px;
}
.buisnessunitbadge{
    border-radius: 100px;
    background-color: red;
    color: white;
}
.buisnessunitlinkingtext{
    font-size: 13px;
    color: #787878;
}
.impediment-badge{
    background-color: #ff8282;
    border-radius: 100px;
    color: white;
}
.risk-badge{
    background-color: #ff2929;
    border-radius: 100px;
    color: white;
}
.blocker-badge{
    background-color: red;
    border-radius: 100px;
}
.action-badge{
    background-color: #e1db3f;
    border-radius: 100px;
    color: black;
    font-weight: 700;
}
.displaynone{
    display: none;
}
.flag-tittle-new{
    font-size: 14px;
    color: #3F4254;
}
.child-item-flag{
    padding-bottom: 0px !important;
    border-radius: 5px !important;
/*    cursor: pointer;*/
}
.child-item-flag .image-cont img {
    width: 31px;
    height: 31px;
    object-fit: cover;
    background-size: cover;
    border-radius: 1000px;
}
.child-item-flag .image-cont {
    font-size: 12px;
}
.flagstatusbadge{
    padding: 6px !important;
    border-radius: 100px;
    text-align: center;
    font-size: 14px !important;
    height: 32px;
}
.flag-type-new{
    height: 33px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.risk-color{
    background-color: red;
    color: white;
}
.impediment-color{
    background-color: purple;
    color: white;
}
.buisnessunit-tab-value-stream-objective{
    position: relative;
}
.buisnessunit-tab-value-stream-objective .inputs{
    position: absolute;
    top: 25px;
}
.define-quarterly-targets{
    font-size: 16px;
}
.deletequarter{
    position: absolute;
    top: 17px;
    right: 0;
    font-size: 13px !important;
    background-color: white;
    border-radius: 100px;
    padding: 1px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.target-error{
    color: red;
    display: none;
    font-size: 12px;
}
.value-table .btn-circle.btn-tolbar{
    width: 32px;
    height: 32px;
}
.value-table .table td, .table th{
    padding: 0.55rem;
}
.value-table thead th {
    border-top: none !important;
    border-bottom: none !important;
    font-size: 12px;
}
.value-table thead {
    background-color: #f3f3f3;
}
.valueiconeditdelete{
    background-color: #f3f3f3;
    padding: 5px;
    border-radius: 100px;
    margin-left: 10px;
}
.valueheading{
    color: var(--Light-Gray, #787878);
    font-size: 13px;
}
#edit-key-result-new .modal-body{
    min-height: 500px;
}
.add-weight-heading{
    font-size: 16px;
    color: #b2b2b2;
}

/*#edit-key-result-new input[type="checkbox"]
{
    border: none !important;
    background-color: #f3f3f3 !important;
}*/
.epic-datepicker{
    position: relative;
}
.epic-datepicker img{
    position: absolute;
    top: 4px;
    left: 18px;
}
.epic-datepicker input{
    height: 31px;
    background-color: #f3f3f3 !important;
    color: #787878;
    border-radius: 12px;
    font-size: 11px !important;
    border-radius: 100px;
    border: none;
    padding: 10px;
    margin-left: 10px;
    padding-left: 30px;
    cursor: pointer;
}
.epic-datepicker input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
.deletechildstory{
    position: absolute;
    border-radius: 12px;
    display: none;
    width: 285px;
    height: 145px;
    z-index: 1111;
    right: 0px;
    top: 125%;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 32px 4px rgb(87 106 134 / 20%);
}
.deletechildstory img {
    cursor: pointer;
}

.deletechildstory h4 {
    font-size: 16px;
    font-weight: 500;
}

.deletechildstory button {
    height: 41px;
    border-radius: 5px !important;
}

.deletechildstory p {
    font-size: 12px !important;

}

.delete-item-image{
    cursor: pointer;
}
.deletealert{
    display: none;
}
.card-epic .content{
    margin: 0 !important;
}
.epic-tittle-header img{
    top: 3px !important;
}
.team-select-box{
    left: -55px !important;
}
.deleteepiccard{
    top: 5px !important;
    left: 90px !important;
}
.dropup{
    z-index: 1111;
}
.business-card{
    margin-bottom: 30px;
}
.business-card a{
    text-decoration: none;
    color: black;
}
.col-action:hover{
    text-decoration: none;
}
.target-error{
    display: block !important;
}
.value-table tbody td {
    padding-bottom: 5px;
    padding-top: 5px;
}

.padding-right-ten{
    padding-right: 10px;
}
.membermorethenthree{
    width: 30px;
    height: 30px;
    padding: 7px;
    font-size: 13px;
    background-color: #f3f3f3;
    cursor: pointer;
    margin-left: -6px;
}
.membermargenles{
    margin-left: -6px;
}

.membermargenles:first-child{
    margin-left: 6px;
}
.simplecardmoreusers{
    width: 30px;
    height: 30px;
     padding: 0px; 
    font-size: 13px;
    background-color: #f3f3f3;
    cursor: pointer;
    margin-left: -6px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}

 .mention_name{
    font-size:12px;
 }
 .mention_username{
    font-size:12px;
    color:#999;
 }
 .mention_image{
    float: left;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    }
 .active .mention_username{
    color:black;
 }
 #wieght-error{
    position: relative;
    
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
 }
.card-svg .material-symbols-outlined{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding: 10px;
}
.folder_supervised{
    color: #8a50fc;
    background-color: #eee5ff;
}
.key_visualizer{
    color: #56d6cf;
    background-color: #c9f7f5;
}
.team_dashboard{
    color: #f65868;
    background-color: #ffe2e6;
}
.groups{
    color: #ffbf42;
    background-color: #fff4de;
}
.Summarize{
    color: #49a3ff;
    background-color: #e1f0ff;
}
.warning_off{
    color: #5cad6d;
    background-color: #e1ffeb;    
} 
.organization-drop{
    font-size: 12px !important;
}

.organization-drop .multiselect{
    width: 110px;
    font-size: 12px !important;
    padding: 10px 2px !important;
    height: 35px;
}
.organization-drop .multiselect span
{
    font-size: 11px;
}
.organization-drop .multiselect-container{
    min-width: 200px;
    font-size: 14px;
}
.dropdown-item:hover{
    cursor: pointer;
}
.team-card h3 a {
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    color: black;
    text-decoration: none;
}
.activitydetalbox{
    display: none;
    position: absolute;
    width: 300px;
    background-color: white;
    z-index: 111;
    right: 15px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    top: 15px;
    box-shadow: rgba(87, 106, 134, 0.2) 0px 10px 24px;
    overflow-y: auto;
    overflow-x: hidden;
}
.profilepopup{
    height: 170px;
    width: 280px;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 10000;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: none;
}
.profilepopuplinks .removelink{
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    cursor: pointer;
}
.profilepopuplinks .removelink:hover{
    background-color: #f1f2f4;
}
.profilepopuplinks .removelink a{
    text-decoration: none;
}
.profilepopuplinks{
    height: 70px;
    background-color: white;
    padding-top: 20px;
}
.profilepopupheader{
    background-color: #0c66e4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100px;
    position: relative;
}
.profilepopupimage{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 30px;
    left: 20px;
}
.profilepopupbackground{
    text-align: right;
    margin-top: 10%;
    position: absolute;
    left: 120;
    top: 30px;
}
.profilepopupbackground p{
    color: white;
    font-size: 12px;

}
#deleteobjectivebutton{
    width: 95px;
    height: 40px;
}
#deletekeyresultbutton{
    width: 95px;
    height: 40px;
}
.member-add-box-flag-height{
    height: 270px;
}
.filerbyasigne-box{
    display: none;
    width: 329px;
    box-shadow: 0 10px 24px rgb(87 106 134 / 20%);
    position: absolute;
    z-index: 111111;
    background-color: white;
    border-radius: 10px;
    right: 0;
    padding: 15px;
    top: 50px;
}
.filerbyasigne-box .memberclose{
    cursor: pointer;
    height: 12px;
    width: 12px;
}
.filerbyasigne-box h4{
    font-size: 16px;
    font-weight: 500;
}
.filerbyuserflags{
    position: relative;
}
#flagmembershowmain{
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
#flagmembershowmain::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#flagmembershowmain::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#flagmembershowmain::-webkit-scrollbar-thumb {
  background: #c5c9d1;
  border-radius: 10px;
}

/* Handle on hover */
#flagmembershowmain::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.filtermemberdisplay{
    display: flex;
}
.memberdisplay{
    display: flex;
}
.memberdisplay{
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

.imagefilter{
    width: 25px;
    height: 25px;
}
.imagefilter img{
    width: 100%;
    height: 100%;
}
.filteredusername{
    font-size: 11px;
    font-weight: 500;
    color: #585858;
}
.textfilteruser{
    margin-left: 5px;
}
.filteruserresult{
    font-size: 9px;
    font-weight: 500;
    color: #585858;
}

.cleariconfilter a span{
    color: #585858;
    font-size: 21px;
    margin-left: 10px;
    margin-top: 5px;
}
.fieldouter {
    width: 100%;
    margin-top:2px !important;
 }
.selectbox { position: relative;}
.selectarrow { content: ''; position: absolute; top: 20px;   right: 12px; border-width: 8px 5px 0 5px; border-style: solid; border-color: rgb(230, 230, 230) transparent transparent transparent; width: 0; height: 0;}

.selectbox:hover .selectarrow,
.selectbox:focus .selectarrow { border-width: 0 5px 8px 5px;
  border-style: solid; border-color: transparent transparent rgb(230, 230, 230) transparent;}

.selectbox .selected { 
    display: block;
    width: 100%;
    height: 44px !important;
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #efefef;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

.selectbox .selected:hover,
.selectbox .selected:focus {
  border-color: #c6c6c6
}

.selectbox .selectOptionsbox {
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0px !important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 45px !important;
  width: 100%;
  z-index: 4;
  display: none;
}

.selectbox .selectOptionsbox.active {
  display: block;
}
.customoption {
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}
.customoption:hover {
    background-color: #e9ecef;
}
.customoption .d-flex {
    margin: 10px;
}
.memberprofilecontroleight{
    height: 50px;
    margin-bottom: 0;
    padding-top: 3px;
}
.epic_id{
    font-size: 12px;
}
.flagsdisplayonepic{
    color: #ff54ff !important;
    font-size:12px;
    font-weight: 600;
}
.epic-tittle img{
    width: 22px;
    height: 22px;
}
.objectivepercentage{
    position: absolute; 
    right: 50px; 
    top: 80px;
}
.objectiveheaderimage{
    width: 23px;
}


.leader-line {
    z-index: -1;
}
.node {
    height: auto;
    position: absolute;
    width: 280px;
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.slot-label {
    flex: 100px;
    min-width: 100px;
    max-width: 250px;
}
.node-name .slot-label {
    flex: 100px;
    max-width: 360px;
    padding: 0 5px;
    background: white;
    text-transform: capitalize;
    display: flex;
}

.label-text {
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.slot-button {
    padding: 4px 4px 4px 6px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background: transparent;
    border: 4px #8e8e8e solid;
    color: #5b5b5b;
}
.slot-config {
    padding: 4px 4px 4px 6px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background: transparent;
    border: 1px #8e8e8e solid;
    color: #5b5b5b;
    border-radius: 30px;
}
.field-active,
.field-inactive {
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background: #fff;
    color: #5b5b5b;
    text-transform: none;
    font-style: italic;
}
.field-inactive {
    background: #ccc;
    color: #5b5b5b;
    text-transform: none;
    font-style: italic;
}
.slot-active,
.slot-inactive {
    padding: 4px 0px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background: #fff;
    color: #5b5b5b;
}
.slot-inactive {
    background: #fff;
    color: #000;
}
.slot:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}
.elevation-3 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.slot-anchor-small {
    width: 8px;
    height: 8px;
    border-width: 4px;
    border-color: #d8d8d8;
    border-style: solid;
}
.slot-anchor-node-name {
    width: 22px;
    height: 22px;
    border-width: 3px;
    border-color: #d8d8d8;
    border-style: solid;
}
.slot-anchor-active {
    background: #fb8c00;
    border-color: #fb8c00;
    border-style: solid;
    border-radius: 100px;
    width: 5px;
    height: 5px;
}

.slot-anchor-inactive {
    background: #d8d8d8;
    border-color: #d8d8d8;
    border-radius: 100px;
    width: 4px;
    height: 4px;
    border-style: solid;
}
.node-name {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    color: #black;
    background: #fff;
    margin: 0;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.node-name.slot-active {
    border-style: none;
}
.node-name .slot-anchor-inactive {
    background: #fff;
    border-color: #5b5b5b;
    border-style: solid;
}
.node-name.slot-active .slot-anchor-node-name.slot-anchor-active {
    background: #30c117;
    border-color: #30c117;
    border-style: solid;
}
.badge-inprogress {
    padding: 2px 11px;
    color: white;
    background-color: #e1db3f;
    border-radius: 100px;
}
.badge-team-valuestream{
    padding: 2px 11px;
    color: white;
    background-color: #547aff;
    border-radius: 100px;
}
.badge-todo {
    padding: 2px 11px;
    color: white;
    background-color: gray;
    border-radius: 100px;
}
.badge-done {
    padding: 2px 11px;
    color: white;
    background-color: #3fe1a7;
    border-radius: 100px;
}
.f-18 {
    font-size: 18px;
}
.slot-label{
    color: #6a6a6a;
}
.slot-label:hover{
    color: #0073e9;
    text-decoration: none;
}
.blanklink{
    color: #6a6a6a;
}
.blanklink:hover{
    color: #0073e9;
    text-decoration: none;
}
.page-title .material-symbols-outlined{
    font-size: 22px;
    margin-right: 10px;
}
.breadcrumb-item .material-symbols-outlined{
    font-size: 17px;
    margin-right: 5px;

}
.objective-header{
    display: unset !important;
    padding: 20px 2.25rem !important;
}
.keyresult-header{
    display: unset !important;
    padding: 20px 2.25rem !important;
}
.initiative-header{
    display: unset !important;
    padding: 20px 2.25rem !important;
}
.bg-secondary{
    background-color: #6c757d !important;
    color: white;
}